.layout-navbar {
  background-color: $medium-color1;
  height: 8vh;
}

.layout-aboutMeHeader {
  // background-color: $medium-color1;
  height: 40vh;
}

.layout-aboutMe {
  background: transparent;
  height: 40vh;
}

.layout-aboutIcons {
  background-color: $medium-color1;
  height: 40vh;
}

.layout-projectsHeader {
  background-color: $medium-color1;
  height: 40vh;
}

.layout-projects {
  background-color: $medium-color1;
  height: 40vh;
}

.layout-blogHeader {
  background-color: $medium-color1;
  height: 40vh;
}

.layout-blog {
  background-color: $medium-color1;
  height: 40vh;
}

.layout-contactHeader {
  background-color: $medium-color1;
  height: 40vh;
}

.layout-contact {
  background-color: $medium-color1;
  height: 40vh;
}

.layout-footer {
  background-color: $dark-color;
  height: 40vh;
}
