img {
  width: 100%;
}

#lightbox-gallery img {
  padding: 4px 0;
}

.lightbox-gallery img {
  /* background-color: red;
  transition-property: img; */
  transition: all 0.4s ease-in-out;
}

.lightbox-gallery img:hover {
  opacity: 0.7;
  /* background: red; */
  /* z-index: -50; */
  transform: scale(0.98);
}